.Post-Header{
    display: flex;
}
.Post-Icons {  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-items{
    display: flex;
gap: 15px;
}
.right-item{
    display: flex;
    gap: 50px;
}